language: node_js
node_js: '12'
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install --frozen-lockfile --ignore-engines
before_script:
  - yarn run build
script:
  - echo "Skip"
matrix:
  fast_finish: true
jobs:
  include:
    - stage: Tests
      name: Happo
      script: yarn run happo:ci:travis
      node_js: '12'
      if: type = pull_request
    - name: Test @ 10
      script: yarn run jest:coverage -w 4
      node_js: '10'
    - name: Test @ 12
      script: yarn run jest:coverage -w 4
      node_js: '12'
    - name: Lint @ 10
      script: yarn run lint:errors
      node_js: '10'
    - name: Lint @ 12
      script: yarn run lint:errors
      node_js: '12'
    - stage: Release Packages
      script: skip
      node_js: '12'
      if: branch = master
      before_deploy:
        - git config --global user.name ${GITHUB_USER}
        - git config --global user.email ${GITHUB_EMAIL}
        - git remote set-url origin "https://${GH_TOKEN}@github.com/airbnb/lunar.git" > /dev/null
          2>&1
        - git checkout master
        - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" >> $HOME/.npmrc 2> /dev/null
      deploy:
        provider: script
        script: yarn run deploy:npm
        skip_cleanup: true
        on:
          branch: master
cache:
  yarn: true
